<ion-content [fullscreen]="true">
  <div class="header">
    <ion-title class="titlee">
      Ingresa tu Correo
      <p class="subti">Para recuperar Contraseña</p>

      <div class="pom-animation">
        <img src="assets/pom.gif">
      </div>

    </ion-title>

    <div>
      <ion-item class="custom-item">
        <ion-input class="ingre2" placeholder="Ingresar Correo"></ion-input>
        <ion-icon name="person-outline"></ion-icon>
      </ion-item>
    </div>
  </div>
  <ion-fab horizontal="end" style="position: absolute; top: 530px; right: 2px;">
    <ion-fab-button [routerLink]="['/login']">
      <ion-icon name="chevron-forward"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>