.header{
    margin-top: 20px;
    margin-bottom: 80px;
    text-align: center;
    .subti{
        color:gray;
        font-size: 0.9rem;
    }
    titlee{
        font-size: 2rem;
    }
}

.pom-animation{
    animation-name: pom;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes pom {
    0%, 100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-10px);
    }
    
}

.input{
    font-size: 300;
}

.custom-item {
    --background:#f4f2f2;
    border-radius: 30px; 
    margin-bottom: 5px; 
  }

.custom-item ion-input {
    color:black; 
}
.custom-item ion-icon {
    color: black;
  }

.reset{
    text-align: center;
}

.reg{
    text-align: center;
}
