<ion-header>
  <ion-toolbar>
    <ion-title>
      Generador de Canciones
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let mensaje of mensajes" [class.usuario]="mensaje.startsWith('Usuario')" [class.ia]="mensaje.startsWith('IA')">
      {{ mensaje }}
    </ion-item>
  </ion-list>

  <ion-item>
    <ion-input placeholder="Escribe el tipo de cancion" [(ngModel)]="mensajeUsuario"></ion-input>
    <ion-button expand="full" (click)="enviarMensaje()">Enviar</ion-button>
  </ion-item>
</ion-content>
